<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761948267066-10ktp9uekrvc90dqs27mc8vjorlhdipk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761948267066-10ktp9uekrvc90dqs27mc8vjorlhdipk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761948267066-t32hegda8hk1ig1i3kc1gir0etq3fl94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBciRDWy7cMtf5kMMEPvChzr6mT0mJqPaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>761948267066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiStoreAppCutomer</string>
	<key>PROJECT_ID</key>
	<string>todo-5c1f0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-5c1f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761948267066:ios:1cdb16cc202990a9440b03</string>
</dict>
</plist>